<div class="box">

    <h3>Últimas transações</h3>

    <section>
        <div class="receitas">
            <ul>
                <li class="li-receitas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-receitas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-receitas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-receitas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-receitas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-receitas"> <p>Categoria</p> <p>R$500,00</p> </li>
            </ul>
        </div>
        <div class="despesas">
            <ul>
                <li class="li-despesas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-despesas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-despesas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-despesas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-despesas"> <p>Categoria</p> <p>R$500,00</p> </li>
                <li class="li-despesas"> <p>Categoria</p> <p>R$500,00</p> </li>
            </ul>
        </div>

    </section>
</div>