.box{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 15px 1px rgb(0, 0, 0, 0.3);
    border-radius: 15px;
    padding-bottom: 15px;
}

section{
    width: 500px;
    height: 80%;

    display: flex;
    grid-template-columns: auto auto auto;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}