<div id="box">

    <div id="content">
        <p>Bem-vindo ao</p>
        <h1>MeuDinheiro</h1>
        <div id="inputs">
            <label for="email-input">E-mail</label>
            <input type="email" id="email-input" [(ngModel)]="login">
        
            <label for="password-input">Senha</label>
            <input type="password" id="password-input" [(ngModel)]="password">
        </div>
        
        <button name="login-button" id="login-button" (click)="getDataToLogin()" >LOGIN</button>
    
        <button name="subscribe-button" id="subscribe-button">INSCREVA-SE</button>    
    </div>
</div>
