#principal-content{
    display: grid;
    gap: 90px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    height: 300px;
    box-shadow: 2px 2px 15px 1px rgb(0, 0, 0, 0.3);
    clip-path: inset(0px -10px -10px -10px);
}