.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 15px 1px rgb(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 15px;
}

section{
    height: 80%;

    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items:flex-start;
    gap: 0px;
    margin-bottom: 5px;
}

.expenses{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.incomes{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    font-size: 15px;
}

.li-income{
    background-color: #BEE5B2;
    width: 380px;
    height: fit-content;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
}

.li-expense{
    background-color: #F8BCBC;
    width: 380px;
    height: min-content;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
}

.li-title-income{
    background-color: #5d8a4f;
    color: white;
}

.li-title-expense{
    background-color: #d64040;
    color: white;
}


.span1 {
    width: 150px;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
}

.span2 {
    width: 300px;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
}

.span3 {
    width: 250px;
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}