<div class="box">
    <section>
        <div class="incomes">
            <p class="title">Receitas</p>
            <ul >
                <li class="li-income li-title-income">
                    <span class="span1">Valor</span>
                    <span class="span2">Descrição</span>
                    <span class="span3">Categoria</span>
                </li>
            </ul>
            <ul *ngFor="let income of incomes">
                <li class="li-income">
                    <span class="span1">R${{income.value.toFixed(2).replace('.', ',')}}</span>
                    <span class="span2">{{income.description}}</span>
                    <span class="span3">{{income.category}}</span>
                    <span class="span3">{{income.creationDate?.toString()?.slice(0, 10)}}</span>
                    <button (click)="deleteIncome(income)">x</button>
                </li>
            </ul>
        </div>
        <div class="expenses">
            <p>Despesas</p>
            <ul >
                <li class="li-expense li-title-expense">
                    <span class="span1">Valor</span>
                    <span class="span2">Descrição</span>
                    <span class="span3">Categoria</span>
                </li>
            </ul>
            <ul *ngFor="let expense of expenses">
                <li class="li-expense">
                    <span class="span1">R${{expense.value.toFixed(2).replace('.', ',')}}</span>
                    <span class="span2">{{expense.description}}</span>
                    <span class="span3">{{expense.category}}</span>
                    <span class="span3">{{expense.creationDate?.toString()?.slice(0, 10)}}</span>
                    <button (click)="deleteExpense(expense)">x</button>
                </li>
            </ul>
        </div>

    </section>

    <button>VER MAIS</button>
</div>